@import './base.css';

#app {
  width: 100vw;
  max-width: 100vw;
  display: flex;
  flex-direction: column;

  font-weight: normal;
}

@font-face {
  font-family: 'CopperPlate Goth';
  src: url('./fonts/copperplate_gothic_bt.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

h1 {
  font-size: var(--font-size-big-small);
}
